
div.offcanvas a.nav-link {
    color: #333!important;
}

.dropdown-item{
    color: #333!important;
}

.navbar-toggler {
    border: none;
    box-shadow: none;
}

.btn-close:focus {
    box-shadow: none;
  }

.navbar-toggler:focus {
    box-shadow: none;
}

.btn-close {
    background: url('assets/times.svg');
    background-repeat: no-repeat;
}

.btn-close:hover {
opacity: 1;
}

.dropdown-menu.show {
    border: none;
}

.navbar-light .navbar-toggler-icon{
    background-image: url('assets/bars.svg');
    background-size: 25px;
    background-repeat: no-repeat;
}

section:last-child h4{
    display: inline-block;
    padding: 20px;
    background-image: url('assets/a188414ce83f2454b9d71a47c3d95909.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
