div.offcanvas a.nav-link {
    color: #333!important;
    font-weight: 500;
}

.dropdown-item{
    color: #333!important;
}

.navbar-toggler {
    border: none;
    box-shadow: none;
}

.btn-close:focus {
    box-shadow: none;
  }

.navbar-toggler:focus {
    box-shadow: none;
}

.btn{
    box-shadow: none!important;
}

.form-select,select,select:active,select:focus{
    border: none!important;
    box-shadow: none!important;
}

.btn-close {
    background: url('assets/times.svg');
    background-repeat: no-repeat;
    background-size: 25px;
}

.btn-close:hover {
opacity: 1;
}

.dropdown-menu.show {
    border: none;
}

.navbar-light .navbar-toggler-icon{
    background-image: url('assets/bars.svg');
    background-size: 25px;
    background-repeat: no-repeat;
}

section:last-child h4{
    display: inline-block;
    padding: 20px 40px;
    background-image: url('assets/a188414ce83f2454b9d71a47c3d95909.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

section:first-child{
    min-height: 60vh;
    background-image: url('assets/e6d57714479874c665b36c7adee76b1d.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section:first-child h1{
    font-weight: 600;
}

p{
    max-width: 768px;
}

.lead{
    font-weight: 400;
}

.purple{
    background-color: #5865F2;
    border: 1px solid #5865F2;
    color: white;
}

.purple:hover{
    color: white;
    background-color: #5865F2;
    border: 1px solid #5865F2;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    color: #f8f9fa!important;
    text-decoration: underline;
}

